.App {
    display: flex;
    flex-direction: column;
    font: trebuchet;
    color: black;
    .App-Navigation {
        display: flex;
        align-items: center;

        background-color: darkgrey;
        width: 100%;

        h1 {
            padding-left: 1em;
        }
    }
    .App-Body {
        padding-left: 1em;
        padding-right: 1em;
    }
}